body {
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url(../images/full-bg.jpg);
}

#landing {
	height: 30rem;
	background-color: darkgrey;
}

.card {
	margin: 10px;
	background-color: lightsteelblue;

}

.card-title {
	margin-top: 20px;
	color: white;
}

.navbar {
	align-content: center;
	background-color: peachpuff;
}

form {
	margin: 10px;
	color: white;
	padding: 30px;
	text-align: center;
	background-color: thistle;
}

.form-label,.form-control {
	margin-top: 10 px;
	margin-bottom: 10px;
}

.btn {
	margin-top: 10px;
	color: white;
	background-color: powderblue;
	width: 200px;
}

.btn-2 {
	margin-top: 10px;
	color: white;
	background-color: darkgrey;
	width: 200px;
}